<footer class="grid grid-cols-12 w-full px-8 dark:bg-[rgb(38,38,38)] py-8 gap-y-32">
  <div class="col-span-3">
    <ul>
      <li><a href="/">Index</a></li>
      <li><a href="/features/">Features</a></li>
      <li><a href="/mixes/">Mixes</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/subscribe/">Subscribe</a></li>
    </ul>
  </div>
  <div class="col-span-5">
    <ul>
      <li>
        <span>Collaboration and business enquiries</span>
        <a href=""><h3 class="text-4xl">business@osc1.co</h3></a>
      </li>
      <li>
        <span>General enquiries</span>
        <a href=""><h3 class="text-4xl">info@osc1.co</h3></a>
      </li>
      <li>
        <span>Instagram</span>
        <a href=""><h3 class="text-4xl">@osc1.co</h3></a>
      </li>
    </ul>
  </div>
  <div class="col-span-4">
    <h3 class="text-4xl">Philosophy</h3>
    <p class="tracking-wide">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
  </div>
  <div class="col-span-3">
    2023 OSC1, LLC
  </div>
  <div class="col-span-5">
    <a href="" class="mr-4">Privacy</a>
    <a href="">Terms</a>
  </div>
  <div class="col-span-4">
    Handmade and powered by Github.
  </div>
</footer>
<script>
  feather.replace()
</script>
