<nav class="w-full grid grid-cols-6 p-8 fixed">
    <div class="col-span-1">
      <div class=" 
      w-fit drop-shadow-sm text-[rgb(253,255,253)] hover:text-[rgb(227,229,227)]
      inline-block transition-colors inline-block place-self-start">
        <a href="/" class="leading-[2.9rem] col-span-1 text-[5rem] font-bold font-['Leto'] inline tracking-wider">OSC1</a> 
      </div>
    </div>
    <div class="col-span-4 justify-self-center text-[rgb(25,26,25)]">
      <ul class="bg-[rgba(253,255,253,0.75)] hover:bg-[rgba(227,229,227,0.75)] 
      backdrop-blur shadow-[0px_0px_8px_rgba(25,26,25,0.05)] rounded-[10px] grid grid-cols-4 w-fit
      p-[0.7rem] inline-block transition-colors inline-block place-self-center">
        <li class="inline text-center"><a href="/features/" class="font-['Lausanne-400']">Features</a></li>
        <li class="inline text-center"><a href="/mixes/" class="font-['Lausanne-400']">Mixes</a></li>
        <li class="inline text-center"><a href="/about/" class="font-['Lausanne-400']">About</a></li>
        <li class="inline text-center"><a href="/subscribe/" class="font-['Lausanne-400']">Subscribe</a></li>
      </ul>
    </div>
    <div class="col-span-1"></div>
</nav>
