---
---
/*@import "{{ site.theme }}";*/
@font-face {
    font-family: 'Phlegm';
    src: url('https://static1.squarespace.com/static/5d3965f5907bfa0001353068/t/62791aa2dbce65667f105d24/1652103842535/Phlegm-Headlines.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Leto';
    src: url('https://static1.squarespace.com/static/5d3965f5907bfa0001353068/t/627917d58378884ca2d511ef/1652103125083/Leto-Regular.woff');
    font-style: normal;
    font-weight: normal;
}
h1 {
    font-family: 'Phlegm';
}

h1.background--light, h2.background--light, h3.background--light {
  color: black;
}

h1.background--dark, h2.background--dark, h3.background--dark {
  color: white;
}

h1.background--complex, h2.background--complex, h3.background--complex {
  color: gray;
}
