---
---
/*@import "{{ site.theme }}";*/
@font-face {
    font-family: 'Phlegm';
    src: url('https://static1.squarespace.com/static/5d3965f5907bfa0001353068/t/62791aa2dbce65667f105d24/1652103842535/Phlegm-Headlines.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Leto';
    src: url('https://static1.squarespace.com/static/5d3965f5907bfa0001353068/t/627917d58378884ca2d511ef/1652103125083/Leto-Regular.woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lausanne-300';
    src: url('../fonts/TWKLausanne-300.woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lausanne-400';
    src: url('../fonts/TWKLausanne-400.woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lausanne-600';
    src: url('../fonts/TWKLausanne-600.woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Lausanne-1000';
    src: url('../fonts/TWKLausanne-1000.woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {font-family: 'EurostileUnicase'; src: url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.eot"); src: url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.woff") format("woff"), url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e2aba67a61a20987775ae4a14c15dd81.svg#EurostileUnicaseLTW04-Rg") format("svg"); } 
* {
    font-family: 'Lausanne-300';
}
h1 {
    font-family: 'EurostileUnicase';
}
