<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    
    <ul>
      {% for post in site.posts %}
        <li class="w-full h-32 bg-pink-950">
          <a href="{{ post.url }}"><h1 class="text-neutral-100">{{ post.title }}</h1></a>
        </li>
      {% endfor %}
    </ul>
    
    <footer>
      Made by me, powered by Github.
    </footer>
  </body>
</html>
