---
layout: default
---
<div class="grid grid-rows-3 grid-cols-4 grid-flow-row gap-4 w-full min-h-full">
  {% for post in site.posts %}
    <a href="{{ post.url }}" class="col-span-2">
      {%- if post.image -%}
        <div class="bg-cover bg-center w-full h-80 text-neutral-50 bg-neutral-950 bg-[url('{{ post.image | relative_url }}')]">
      {%- else -%}
        <div class="bg-cover bg-center w-full h-80 text-neutral-50 bg-neutral-950">
      {%- endif -%}
        <div class="w-full h-full flex items-stretch">
          {% assign parts = post.title | split: ": " %}
          <div class="self-end p-4">
            <h3 class="text-lg leading-[1rem] bg-neutral-950 inline-block">{{ parts.first }}</h3>
            {% assign last = parts.last %}
            {% if last.size > 10 %} <h1 class="uppercase text-4xl leading-[1.9rem] bg-neutral-950">{{ parts.last }}</h1> {% else %} <h1 class="uppercase text-5xl leading-[2.4rem] bg-neutral-950">{{ parts.last }}</h1> {% endif %}
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
