---
layout: default
---
<div class="grid grid-cols-2 gap-4 w-full min-h-full">
  {% for post in site.posts %}
    <a href="{{ post.url }}">
      <div class="w-full h-80 text-neutral-50 bg-neutral-950">
        {% assign parts = post.title | split: ": " %}
        <h3>{{ parts.first }}</h3>
        {% assign last = parts.last %}
        {% if last.size > 10 %}
          <h1 class="text-4xl">{{ parts.last }}</h1>
        {% else %}
          <h1 class="text-5xl">{{ parts.last }}</h1>
        {% endif %}
      </div>
    </a>
  {% endfor %}
</div>
