---
layout: default
---
<div class="post">
  <div class="grid grid-cols-2 grid-rows-1 w-full h-[100vh]">
    <img class="h-full object-cover" src="{{ page.image | relative_url }}" />
    <div class="px-4 pt-[calc(5.7rem+24px)]">
      <header class="post-header">
        {% assign parts = page.title | split: ": " %}
        <h3 class="text-2xl font-['Lausanne-300']">{{ parts.first }}</h3>
        <h1 class="post-title font-['Lausanne-1000'] uppercase text-8xl">{{ parts.last }}</h1>
        {% assign author = site.authors | where: 'short_name', page.author | first %}
        <p>{{ page.date | date: "%-d %B %Y" }} | By: {{ author.name }}</p>
      </header>
    </div>
  </div>
  <article class="post-content">
    {{ content }}
  </article>
</div>
